.main-section {
  min-height: 100vh;
}

.container {
  max-width: 1000px !important;
}

.main-title {
  line-height: 36px;
  font-weight: bold;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffc61a;
  border-radius: 50px;
  border: 2px solid #000;
  background: #000;
  height: 56px;
  padding: 0 15px;
  font-weight: 700;
  font-size: 24px;
  transition: all 0.3s;
  cursor: pointer;
  min-width: 154px;
  margin-left: 8px;
}

.btn2:hover {
  color: #000;
  background-color: #ffc61a;
}

.count {
  margin-right: 8px !important;
}

.count-container {
  border: 2px solid #000;
  border-radius: 40px;
  width: fit-content;
  padding: 0 4px;
}
