.home-container {
  background-color: #ffd32f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border-radius: 16px;
  background-color: #ffffff;
  width: 50%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}